nav {
  float: right;
  margin-bottom: 60px;
}

.logo-and-delicious {
  position: absolute;
  display: block;
  padding: 10px;
}



h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 44px;
  margin-top: 100px;
  position: absolute;
  padding-bottom: 50px;
  padding-left: 25px;
  padding-top: 50px;
}


.main-img {
  margin-top: 150px;
}

